<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="html.ico" type="image/x-icon">
    <title>Projeto Teste</title>
  </head>
  <body>
<h1 class="teste">Este projeto é um teste</h1>
<hr>
<div class="macaco">
  <img class="foto" src="assets/bna.gif">
</div>

<div class="chico">
  <p>Que seus sorrisos pesem mais do que as lágrimas. <br>
    Que você tropece em milhares de sonhos prontos pra serem realizados. <br>
    Que seus olhos sempre encontrem motivos pra brilhar. <br>
    E que Deus afaste de você as más pessoas e suas más intenções. <br>
    Que nada te roube a leveza, a doçura, o querer bem. <br>
    Que sua inspiração jamais acabe. <br>
    E que a vida te jogue na cara mil motivos pra ser feliz. <br> </p>
    <p>Isolamento  social  (hikikomori) não é “preguiça” ou “manha”, tampouco  uma 
      simples “doença”. </p>
</div>